*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}


body{

    font-family:'Poppins',sans-serif;

    overflow-x:hidden;

    background:#050505;

    color:white;

}



/* =========================
SECTION 1 OPENING
========================= */


.opening{

    min-height:100vh;

    width:100%;

    display:flex;

    justify-content:center;

    align-items:center;

    position:relative;

    overflow:hidden;


    background:

    radial-gradient(circle at center,
    rgba(255,80,120,.25),
    transparent 40%),

    linear-gradient(
    135deg,
    #050505,
    #1a0010,
    #2b0018
    );

}




.opening-content{

    text-align:center;

    padding:30px;

    z-index:5;

    animation:

    fadeUp 2s ease;


}





.small-text{

    font-size:16px;

    opacity:.8;

    letter-spacing:2px;

    margin-bottom:20px;


}




h1{

    font-size:clamp(28px,5vw,45px);

    font-weight:300;

}




h2{

    font-family:'Great Vibes',cursive;

    font-size:

    clamp(70px,12vw,120px);


    color:#ff7aa2;

    margin:10px 0;


    text-shadow:

    0 0 20px rgba(255,120,160,.7);


}





.names{

    margin-top:35px;

    font-size:

    clamp(28px,6vw,50px);


    font-weight:500;


}



.names span{

    display:inline-block;

    margin:0 15px;

    animation:heartBeat 1.5s infinite;

}




.intro{

    margin:35px auto;

    max-width:500px;

    line-height:1.8;

    font-size:17px;

    opacity:.85;

}





button{


    padding:15px 35px;

    border:none;

    border-radius:50px;


    background:

    linear-gradient(
    45deg,
    #ff4d88,
    #ff8fab
    );


    color:white;

    font-size:16px;

    cursor:pointer;


    box-shadow:

    0 0 30px rgba(255,100,150,.5);


    transition:.4s;


}



button:hover{

    transform:scale(1.08);

}






/* HEARTBEAT */


.heartbeat{


    font-size:90px;


    animation:

    heartBeat 1.5s infinite;


    filter:

    drop-shadow(
    0 0 20px pink
    );


}





@keyframes heartBeat{


0%{

transform:scale(1);

}


50%{

transform:scale(1.2);

}


100%{

transform:scale(1);

}


}







/* FADE */


@keyframes fadeUp{


from{

opacity:0;

transform:translateY(50px);

}


to{

opacity:1;

transform:translateY(0);

}


}






/* FLOATING STARS */


.stars::before,
.stars::after{


content:"✨";


position:absolute;


font-size:25px;


animation:

floatStars 8s infinite;


}



.stars::before{

left:15%;

top:20%;

}


.stars::after{

right:20%;

bottom:20%;

animation-delay:3s;

}




@keyframes floatStars{


0%{

transform:translateY(0);

opacity:.3;

}


50%{

transform:translateY(-40px);

opacity:1;

}


100%{

transform:translateY(0);

opacity:.3;

}


}







/* MOBILE */


@media(max-width:600px){


.opening-content{

padding:20px;

}


.intro{

font-size:15px;

}



.heartbeat{

font-size:70px;

}


}
